<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV-JD Matcher</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="main-container" id="home-section" >
        <h1>CV- Job Description Matcher</h1>
        <p>This is a simple portfolio web page using FastAPI + AI.</p>

        <div class="conveyor-container">
            <div class="conveyor-belt">
                <div class="cv-card">
                    <div class="cv-content"><span class="icon">📄</span><span class="name"> Senior_Backend.pdf</span></div>
                    <div class="scan-line"></div>
                    <div class="ai-tags"><span>Python</span><span>FastAPI</span><span>98% Match to 154 jobs</span></div>
                </div>
                <div class="cv-card">
                    <div class="cv-content"><span class="icon">📄</span><span class="name"> Data_Scientist.pdf</span></div>
                    <div class="scan-line"></div>
                    <div class="ai-tags"><span>PyTorch</span><span>NLP</span><span>85% Match to 74 jobs</span></div>
                </div>
                <div class="cv-card">
                    <div class="cv-content"><span class="icon">📄</span><span class="name"> Frontend_Dev.pdf</span></div>
                    <div class="scan-line"></div>
                    <div class="ai-tags"><span>React</span><span>JS</span><span>92% Match to 124 jobs</span></div>
                </div>

                <div class="cv-card">
                    <div class="cv-content"><span class="icon">📄</span><span class="name"> Senior_Backend.pdf</span></div>
                    <div class="scan-line"></div>
                    <div class="ai-tags"><span>Python</span><span>FastAPI</span><span>98% Match to 84 jobs</span></div>
                </div>
                <div class="cv-card">
                    <div class="cv-content"><span class="icon">📄</span><span class="name"> Data_Scientist.pdf</span></div>
                    <div class="scan-line"></div>
                    <div class="ai-tags"><span>PyTorch</span><span>NLP</span><span>54% Match to 10 jobs</span></div>
                </div>
                <div class="cv-card">
                    <div class="cv-content"><span class="icon">📄</span><span class="name"> Frontend_Dev.pdf</span></div>
                    <div class="scan-line"></div>
                    <div class="ai-tags"><span>React</span><span>JS</span><span>92% Match to 125 jobs</span></div>
                </div>
            </div>
        </div>

        <button onclick="showUploadSection()" class="upload-btn">Upload Your CV</button>
    </div>
<div id="upload-section" style="display: none; text-align: center; padding: 50px;">
    <h2>CV 분석</h2>

      <br>
    
    <textarea id="cv-text" placeholder="What job are you looking for?" style="width: 80%; height: 100px; margin-bottom: 20px; padding: 10px; border-radius: 10px; border: 1px solid #ddd;"></textarea>
    
    <p>또는</p>

    <input type="file" id="cv-file" style="margin: 20px 0;">
    
    <br>
    
    <button class="upload-btn" onclick="submitUserUserInput()">분석 시작</button>
    <button onclick="showHomeSection()" style="background:none; border:none; cursor:pointer; color:gray; display:block; margin: 20px auto;">돌아가기</button>
</div>
<script src="/static/script.js"></script>
</body>
</html>